*{
	/*
	border:solid;
	border-color:black;
	border-width:1px;
	*/
	font-family:arial;
	font-size:25px;
}
body{
	background-color:#528133;/*fantaisie*/
	
}
.div_titre{
	
}
.titre{
	text-decoration: underline;
	text-align:center;
	font-size:30px;
	animation-name:t;
	animation-duration:2s;
	animation-iteration-count: infinite;
}
@keyframes t{
	0%{
		font-size:25px;
	}
	50%{
		font-size:90px;
	}
	95%{
		font-size:25px;
	}

}



.strong{
	color: red;
}
.p{
	display:block
}
.logo{
	float:right;
}
.img{
	display:inline;
}